* {
  box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n p";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: h;
    background-color: cadetblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.header img {
    width: 120px;
}

.nav {
    grid-area: n;
    background-color: cadetblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.profile {
    grid-area: p;
    background-color: lightblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}